<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiju.dao.IHouseDao" >

    <!--当数据库里的字段名和Java文件的封装类名字不一致时
               1、可以使用驼峰映射自动忽略大小写和下划线
               2、@Param()注释与数据库字段名保持一致
               否则查询结果无法封装到实体类中，查询结果可能为空
    -->

   <!-- 根据房屋类型查询4个房屋 -->
    <select id="findFourHouseByType" resultType="com.yiju.pojo.HouseView" parameterType="java.lang.Integer">
        select * from tb_house as a, tb_house_info as b
            where a.house_id = b.house_id and a.is_delete =0 and a.house_type =#{hType}
            order by rand() limit 4;
    </select>

    <!-- 根据房屋类型查询所有房屋 -->
    <select id="findAllHouseByType" resultType="com.yiju.pojo.HouseView" parameterType="java.lang.Integer">
        select * from tb_house as a, tb_house_info as b
        where a.house_id = b.house_id and a.is_delete =0 and a.house_type =#{hType}
    </select>

    <!-- 查询房屋详情信息ByhouseId -->
    <select id="findHouseById" resultType="com.yiju.pojo.HouseView" parameterType="java.lang.Integer">
        select * from tb_house as a, tb_house_info as b
        where a.house_id = b.house_id and a.is_delete =0 and a.house_id =#{houseId}
    </select>

    <!--查询房屋ByHouseTitle-->
    <select id="searchByHouseTitle" resultType="com.yiju.pojo.HouseView" parameterType="String">
        select * from tb_house where house_title like CONCAT('%',#{houseTitle},'%')
    </select>

    <!--添加房源-->
    <insert id="toPostHouse" parameterType="com.yiju.bean.House">
        insert into tb_house (user_id,house_type,house_title,house_headimg,house_planimg1,house_planimg2,house_img1,house_img2,house_img3,house_img4,house_img5,house_img6,house_price,price_unit,house_address,is_delete,create_time,update_time)
        values (#{userId},#{houseType},#{houseTitle},#{houseHeadimg},#{housePlanimg1},#{housePlanimg2},#{houseImg1},#{houseImg2},#{houseImg3},#{houseImg4},#{houseImg5},#{houseImg6},#{housePrice},#{priceUnit},#{houseAddress},#{isDelete},#{createTime},#{updateTime});
    </insert>
    <!--添加房源2-->
    <insert id="saveHousePost2" parameterType="com.yiju.pojo.HouseInfo">
     insert into tb_house_info(house_id, house_nature, house_model, house_year, house_valid, house_layout, house_area, house_turn, house_floor, floor_all, house_decorate, house_lift, create_time, update_time)
        values (#{houseId}, #{houseNature}, #{houseModel}, #{houseYear}, #{houseValid}, #{houseLayout}, #{houseArea}, #{houseTurn}, #{houseFloor}, #{floorAll}, #{houseDecorate}, #{houseLift}, #{createTime}, #{updateTime})
    </insert>
</mapper>